<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

<p>选择网站:</p>
<select ng-model="selectedSite" ng-options="x.site for x in sites">
</select>
<select>
	<option ng-repeat="x in sites" value="{{x.url}}">{{x.url}}</option>
</select>
</div>
ng-blur:指令用于告诉 AngularJS HTML 元素在失去焦点时需要执行的表达式
ng-change 指令用于告诉 AngularJS 在 HTML 元素值改变时需要执行的操作,需要搭配 ng-model 指令使用。
ng-change 事件在值的每次改变时触发，它不需要等待一个完成的修改过程，或等待失去焦点的动作,只针对输入框值的真实修改，而不是通过 JavaScript 来修改。

ng-blur,ng-change 指令指令不会覆盖原生的 onblur,onchange 事件, 如果触发该事件，ng-blur,ng-change 表达式与原生的 onblur,onchange 事件都会执行。

ng-checked 指令用于设置复选框(checkbox)或单选按钮(radio)的 checked 属性,如果 ng-checked 属性返回 true，复选框(checkbox)或单选按钮(radio)将会被选中。


<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
   $scope.sites = [
	    {site : "Google", url : "http://www.google.com"},
	    {site : "Runoob", url : "http://www.runoob.com"},
	    {site : "Taobao", url : "http://www.taobao.com"}
	];
});
</script>

<p>该实例演示了使用 ng-repeat 指令来创建下拉列表，选中的值是一个字符串。</p>
</body>
</html>
